.header {
    background: url(/img/bg-nav.svg);
    background-size: cover;
    background-repeat: no-repeat;
    // .header__container

    &__container {
        max-width: 1660px;
        margin: 0 auto;
    }

    // .header__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__block

    &__block {
        &:nth-child(3) {
            display: flex;
            align-items: center;
        }
    }

    // .header__logo

    &__logo {
        width: 156px;
        height: 54px;
        background: url(/img/logo.svg);
        @include background;
        margin-left: 20px;
        margin-top: 8px;
        cursor: pointer;
    }

    // .header__navigation

    &__navigation {
        position: relative;
        display: flex;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.005em;
        padding-top: 34px;
        padding-bottom: 36px;
        padding-left: 228px;
        padding-right: 228px;
        li {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $main-color;
                position: relative;
                &:hover::before {
                    left: 0;
                    width: 100%;
                    right: auto;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    background: $main-color;
                    bottom: 1px;
                    right: 0;
                    transition: .5s ease;
                }
            }
        }
    }

    // .header__switch

    &__switch {
        width: 52px;
        height: 30px;
        border-radius: 51px;
        background: $secondary-color;
        margin-right: 30px;
        position: relative;
        padding: 3px;
        cursor: pointer;
        transition: .5s ease;
        &.dark {
            background: $main-color;
            .header__switch-el {
                background: $secondary-color;
                margin-left: 22px;
            }
        }
    }

    &__switch-el {
        width: 24px;
        height: 24px;
        background: $main-color;
        border-radius: 50%;
        position: relative;
        transition: .3s ease;
    }


    // .header__profile-box

    &__profile-box {
        height: 50px;
        width: 136px;
        border-radius: 30px;
        background: rgba(0, 33, 74, 0.12);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.005em;
            color: $secondary-color;
        }
    }

    &__profile-icon {
        height: 24px;
        width: 24px;
        background: url(/img/user.svg);
        @include background;
        margin-right: 10px;
    }
}
