.main {

    // .main__container

    &__container {
    }

    // .main__body

    &__body {
        margin-top: 130px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 334px;
    }

    // .main__block

    &__block {
        position: relative;
    }

    &__title-wrap {
        width: 549px;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        padding-top: 57px;
    }

    &__title {
        max-width: 549px;
        transform: translateY(200px);
    }

    &__text-wrap {
        width: 511px;
        height: 58px;
        margin-bottom: 80px;
        overflow: hidden;
    }

    &__text {
        max-width: 511px;
        transform: translateY(-200px);
    }

    // .main__btn

    &__btn {
        padding-top: 20px;
        padding-bottom: 21px;
        padding-left: 40px;
        padding-right: 35px;
        background: $primary-color;
        border-radius: 50px;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 266px;
        transition: .5s ease;
        &:hover {
            transform: translateY(-5px) scale(1.05);
        }
    }

    &__btn-icon {
        width: 26px;
        height: 26px;
        background: url(/img/main-arrow.svg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 10px;
    }

    // .main__image

    &__image {
        width: 710px;
        height: 440px;
        background: url(/img/home01.png);
        @include background;
        border-radius: 30px;
    }

     // .main__slider

    &__slider {
        width: 0px;
        height: 440px;
        border-radius: 30px;
        overflow: hidden;
    }
    
    // .main__slider-wrapper
    
    &__slider-wrapper {
    }
    
    // .main__slide
    
    &__slide {
        height: 100%;
        width: 100%;
        background: url(/img/home01.png);
        @include background;
        padding-left: 40px;
        color: $main-color;
    }
    
    // .main__slider-title
    
    &__slide-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
        letter-spacing: 0.005em;
        margin-top: 266px;
        margin-bottom: 10px;
    }
    
    // .main__slider-text
    
    &__slide-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.005em;
        max-width: 427px;
    }

    &__slider-pagination {
        width: 30px;
    }

    &__el {
        position: absolute;
        opacity: 0;
        transform: scale(0);
        &:nth-child(1) {
            top: 20px;
            right: -10px;
            width: 98.42px;
            height: 69.14px;
            background: url(/img/main-el.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &:nth-child(2) {
            position: absolute;
            right: -50px;
            bottom: 60px;
            width: 90px;
            height: 76.14px;
            background: url(/img/main-el-1.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

}
