.map {
    background: $primary-color;
    * {
        color: $main-color;
    }
    // .map__container

    &__container {
    }

    // .map__body

    &__body {
        padding-top: 62px;
        padding-bottom: 100px;
    }

    // .map__block

    &__block {
        padding-bottom: 60px;
    }

    // .map__subtitle

    &__subtitle {
        margin-bottom: 5px;
    }

    // .map__title

    &__title {
    }

    // .map__image

    &__image {
        width: 100%;
        height: 800px;
        background: url(/img/map.png);
        @include background;
    }
}
