/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/all.scss ***!
  \**************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap);
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/all.scss (1) ***!
  \******************************************************************************************************************/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

.title {
  font-weight: 700;
  font-size: 46px;
  line-height: 140%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

.sub-title {
  color: #0047FF;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

.text-1level {
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.text-2level {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

.text-3level {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
}

.num {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

html,
body {
  overflow-x: hidden;
  font-size: 18px;
  color: #00214A;
  max-height: 100%;
  background: #F9F9F9;
  font-family: "Jost", sans-serif;
  position: relative;
  transition: 0.5s ease;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}
html a,
body a {
  text-decoration: none;
  color: #00214A;
}
html li,
body li {
  list-style: none;
}
html.dark,
body.dark {
  color: #fff;
  background: #0047FF;
}
html.dark .inside-wrapper,
body.dark .inside-wrapper {
  background: #00214A;
}
html.dark .contact,
body.dark .contact {
  background: #00214A;
}
html.dark .contact *,
body.dark .contact * {
  color: #fff;
}
html.dark .header__profile-box,
body.dark .header__profile-box {
  background: #0B2F5B;
}
html.dark .header__profile-box *,
body.dark .header__profile-box * {
  color: #fff;
}
html.dark .header,
body.dark .header {
  background: url(assets/images/bg-nav-dark-0ab67d2c830f8edd4ad7.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
html.dark .header__logo,
body.dark .header__logo {
  background: url(assets/images/logo-dark-f22f04b3a7d633f6f28d.svg);
}
html.dark .header__profile-icon,
body.dark .header__profile-icon {
  background: url(assets/images/user-dark-9821854d1c0eff23f316.svg);
}
html.dark .directory__footer,
body.dark .directory__footer {
  background: url(assets/images/directory-footer-dark-9441b2b1d6a9ea1f1c3e.svg);
  position: relative;
  min-width: 100%;
  height: 334px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  background-color: #0047FF;
}
html.dark .directory__footer .directory__footer-el,
body.dark .directory__footer .directory__footer-el {
  display: none;
}
html.dark .directory__wrapper *,
body.dark .directory__wrapper * {
  border: none;
}
html.dark .directory__block,
body.dark .directory__block {
  background: #0B2F5B;
}
html.dark .directory__block *,
body.dark .directory__block * {
  color: #fff;
}
html.dark .rating__footer,
body.dark .rating__footer {
  background: url(assets/images/rating-footer-dark-7d8d00ef4cde89e7347f.svg);
  position: relative;
  min-width: 100%;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0047FF;
}
html.dark .rating__footer .rating__footer-el,
body.dark .rating__footer .rating__footer-el {
  display: none;
}
html.dark .map__image,
body.dark .map__image {
  background: url(assets/images/map-dark-776663046ae61786f8c1.png);
}
html.dark .rating__box,
body.dark .rating__box {
  background: #00214A;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  background: #0047FF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px 0px 25px;
  transition: 0.3s ease;
}

.inside-wrapper {
  min-height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
  border-radius: 35px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000000;
}

.firts {
  background: #0047FF;
  left: 0;
}

.second {
  left: 16.6%;
  background: #0047FF;
}

.third {
  left: 33.2%;
  background: #0047FF;
}

.four {
  left: 49.8%;
  background: #0047FF;
}

.five {
  left: 66.4%;
  background: #0047FF;
}

.six {
  left: 83%;
  background: #0047FF;
}

.seven {
  left: 83%;
  background: #0047FF;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map__wrapper {
  position: relative;
  width: 100%;
  max-height: 800px;
  border-radius: 50px;
  overflow: hidden;
}

.wrapper.popup {
  filter: blur(15px);
  pointer-events: none;
  user-select: none;
}

.auth {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 20;
  width: 467px;
  height: 487px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 30px;
  transform: translate(-50%, -50%);
  z-index: 11;
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;
}
.auth.active {
  visibility: visible;
  top: 50%;
  opacity: 1;
}
.auth__close-wrapper {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  background: #E9F0FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.auth__close {
  width: 12px;
  height: 12px;
  background: url(assets/images/close-cbc26769991f7e11ab38.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.auth__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 30px;
}
.auth__form input {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding: 20px;
  border-radius: 20px;
  background: #F8F8F8;
  border: 1px solid #EFEFEF;
}
.auth__form input:last-child {
  margin-bottom: 30px;
}
.auth__form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #B6B6B6;
}
.auth__form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
}
.auth__form-btns {
  display: flex;
  flex-direction: column;
}
.auth__form-btns button {
  height: 63px;
  background: #0047FF;
  box-shadow: 0px 4px 24px rgba(238, 238, 238, 0.15);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}
.auth__form-btns a {
  padding: 17px 121.5px;
  background: #E9F0FF;
  box-shadow: 0px 4px 24px rgba(238, 238, 238, 0.15);
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #0047FF;
}

.signup {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 111;
  width: 467px;
  height: 525px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 30px;
  transform: translate(-50%, -50%);
  z-index: 11;
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;
}
.signup.active {
  visibility: visible;
  top: 50%;
  opacity: 1;
}
.signup__close-wrapper {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  background: #E9F0FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.signup__close {
  width: 12px;
  height: 12px;
  background: url(assets/images/close-cbc26769991f7e11ab38.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.signup__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 30px;
}
.signup__form input {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding: 20px;
  border-radius: 20px;
  background: #F8F8F8;
  border: 1px solid #EFEFEF;
}
.signup__form input:last-child {
  margin-bottom: 30px;
}
.signup__form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #B6B6B6;
}
.signup__form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
}
.signup__form-btns {
  display: flex;
  flex-direction: column;
}
.signup__form-btns button {
  height: 63px;
  background: #0047FF;
  box-shadow: 0px 4px 24px rgba(238, 238, 238, 0.15);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.header {
  background: url(assets/images/bg-nav-114872cfce524f90a91a.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header__container {
  max-width: 1660px;
  margin: 0 auto;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__block:nth-child(3) {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 156px;
  height: 54px;
  background: url(assets/images/logo-dffd5ab17d7e14698875.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 8px;
  cursor: pointer;
}
.header__navigation {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.005em;
  padding-top: 34px;
  padding-bottom: 36px;
  padding-left: 228px;
  padding-right: 228px;
}
.header__navigation li {
  margin-right: 50px;
  transform: translateY(-50px);
  opacity: 0;
}
.header__navigation li:last-child {
  margin-right: 0;
}
.header__navigation li a {
  color: #fff;
  position: relative;
}
.header__navigation li a:hover::before {
  left: 0;
  width: 100%;
  right: auto;
}
.header__navigation li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #fff;
  bottom: 1px;
  right: 0;
  transition: 0.5s ease;
}
.header__switch {
  width: 52px;
  height: 30px;
  border-radius: 51px;
  background: #00214A;
  margin-right: 30px;
  position: relative;
  padding: 3px;
  cursor: pointer;
  transition: 0.5s ease;
}
.header__switch.dark {
  background: #fff;
}
.header__switch.dark .header__switch-el {
  background: #00214A;
  margin-left: 22px;
}
.header__switch-el {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  transition: 0.3s ease;
}
.header__profile-box {
  height: 50px;
  width: 136px;
  border-radius: 30px;
  background: rgba(0, 33, 74, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__profile-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #00214A;
}
.header__profile-icon {
  height: 24px;
  width: 24px;
  background: url(assets/images/user-4b28c19bd34ddfb3aca4.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.main__body {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 334px;
}
.main__block {
  position: relative;
}
.main__title-wrap {
  width: 549px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 57px;
}
.main__title {
  max-width: 549px;
  transform: translateY(200px);
}
.main__text-wrap {
  width: 511px;
  height: 58px;
  margin-bottom: 80px;
  overflow: hidden;
}
.main__text {
  max-width: 511px;
  transform: translateY(-200px);
}
.main__btn {
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 40px;
  padding-right: 35px;
  background: #0047FF;
  border-radius: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 266px;
  transition: 0.5s ease;
}
.main__btn:hover {
  transform: translateY(-5px) scale(1.05);
}
.main__btn-icon {
  width: 26px;
  height: 26px;
  background: url(assets/images/main-arrow-9ae2a7744dc9feda56e1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.main__image {
  width: 710px;
  height: 440px;
  background: url(assets/images/home01-b9c89b5e04c9cc3990f0.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}
.main__slider {
  width: 0px;
  height: 440px;
  border-radius: 30px;
  overflow: hidden;
}
.main__slide {
  height: 100%;
  width: 100%;
  background: url(assets/images/home01-b9c89b5e04c9cc3990f0.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 40px;
  color: #fff;
}
.main__slide-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.005em;
  margin-top: 266px;
  margin-bottom: 10px;
}
.main__slide-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  max-width: 427px;
}
.main__slider-pagination {
  width: 30px;
}
.main__el {
  position: absolute;
  opacity: 0;
  transform: scale(0);
}
.main__el:nth-child(1) {
  top: 20px;
  right: -10px;
  width: 98.42px;
  height: 69.14px;
  background: url(assets/images/main-el-2afa180fab05363e8e11.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.main__el:nth-child(2) {
  position: absolute;
  right: -50px;
  bottom: 60px;
  width: 90px;
  height: 76.14px;
  background: url(assets/images/main-el-1-215a942c89a662df5ef3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.service__body {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.service__subtitle {
  margin-bottom: 5px;
}
.service__title {
  margin-bottom: 40px;
}
.service__text.text-1level {
  max-width: 588px;
  margin-bottom: 40px;
}
.service__box-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  max-width: 730px;
  background: url(assets/images/service-arrow-87b0289ff5bff80e1637.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}
.service__box:nth-child(1) .service__text {
  max-width: 329px;
}
.service__box:nth-child(2) .service__text {
  max-width: 311px;
}
.service__num {
  margin-bottom: 30px;
}
.service__mask-bg {
  width: 646px;
  height: 646px;
  background: url(assets/images/service-mask-2384527a8a4ce3360330.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__element {
  width: 480px;
  height: 483px;
  background: url(assets/images/rocket-69169bf4dcd172660649.png);
  background-size: cover;
  transform: rotate(0deg) translateY(500px) translateX(-100px);
}

.directory__body {
  padding-top: 100px;
  margin-bottom: 150px;
}
.directory__content {
  display: flex;
  justify-content: space-between;
}
.directory__wrapper:nth-child(1) .directory__block {
  width: 832px;
  height: 370px;
  border: 1px solid #EFEFEF;
  border-radius: 55px;
  padding: 50px;
}
.directory__wrapper:nth-child(1) .directory__block:nth-child(1) {
  margin-bottom: 20px;
}
.directory__wrapper:nth-child(1) .directory__block:nth-child(1) .directory__text {
  max-width: 576px;
}
.directory__wrapper:nth-child(1) .directory__block:nth-child(1) .directory__img {
  bottom: 0;
  right: 21px;
  width: 253px;
  height: 354px;
  background: url(assets/images/item01-54802e80a811b025e9f6.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.directory__wrapper:nth-child(1) .directory__block:nth-child(2) .directory__img {
  top: -50px;
  right: -103px;
  width: 338.07px;
  height: 344.29px;
  background: url(assets/images/item02-4e6cdfa52bc3309800c8.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.directory__wrapper:nth-child(2) .directory__block {
  width: 588px;
  height: 760px;
  border: 1px solid #EFEFEF;
  border-radius: 56px;
  padding: 50px;
  text-decoration-line: underline;
}
.directory__wrapper:nth-child(2) .directory__block .directory__text {
  text-decoration-line: underline;
  margin-bottom: 40px;
}
.directory__wrapper:nth-child(2) .directory__block .directory__img {
  bottom: -30px;
  right: -123px;
  width: 357.06px;
  height: 353.34px;
  background: url(assets/images/item03-cd4c3b2ee13a1aad4d8c.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.directory__block {
  position: relative;
  overflow: hidden;
}
.directory__subtitle {
  margin-bottom: 5px;
}
.directory__title {
  margin-bottom: 60px;
}
.directory__heading {
  font-weight: 700;
  font-size: 26px;
  line-height: 160%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #00214A;
  max-width: 300px;
  margin-bottom: 58px;
}
.directory__text {
  max-width: 600px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #9FA0AB;
}
.directory__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.005em;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.directory__item:last-child {
  margin-bottom: 0;
}
.directory__item:first-child .directory__item-icon {
  background: url(assets/images/directory-item01-cefdf01917a6c3db8bbd.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.directory__item:nth-child(2) .directory__item-icon {
  background: url(assets/images/directory-item02-5f67f884a6efe6994a20.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.directory__item:nth-child(3) .directory__item-icon {
  background: url(assets/images/directory-item03-6a112443bf0cd400eb84.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.directory__item-icon {
  width: 48px;
  height: 50px;
  margin-right: 18.33px;
}
.directory__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.005em;
}
.directory__img {
  position: absolute;
}
.directory__footer {
  position: relative;
  min-width: 100%;
  height: 215px;
  background: url(assets/images/directory-footer-12e56a4c3eb0ef75c75b.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0047FF;
  display: flex;
}
.directory__footer-el {
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(assets/images/directory-footer-el-0c88820f111bf24e1ba3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 32px;
  right: 41px;
}
.directory__footer-el:nth-child(1) {
  margin-right: 90px;
}

.map {
  background: #0047FF;
}
.map * {
  color: #fff;
}
.map__container {
  position: relative;
}
.map__body {
  padding-top: 62px;
  padding-bottom: 100px;
}
.map__block {
  padding-bottom: 60px;
}
.map__subtitle {
  margin-bottom: 5px;
}
.map__wrapper {
  position: relative;
  width: 100%;
  height: 800px;
  border-radius: 50px;
  overflow: hidden;
}

.rating {
  background: #0047FF;
}
.rating * {
  color: #fff;
}
.rating__body {
  padding-top: 100px;
}
.rating__block {
  padding-bottom: 60px;
}
.rating__subtitle {
  margin-bottom: 5px;
}
.rating__box {
  width: 100%;
  height: 950px;
  background: #fff;
  border-radius: 50px;
  padding-left: 100px;
  padding-top: 60px;
  padding-right: 201px;
}
.rating__footer {
  position: relative;
  min-width: 100%;
  height: 207px;
  background: url(assets/images/rating-footer-d51af4be365c907812fb.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0047FF;
}
.rating__footer-el {
  position: absolute;
  left: 40px;
  top: 32px;
  width: 70px;
  height: 70px;
  background: url(assets/images/directory-footer-el-0c88820f111bf24e1ba3.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.rating__footer-el:nth-child(2) {
  margin-left: 90px;
}
.rating__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
}
.rating__item:last-child {
  margin-bottom: 50px;
}
.rating__item * {
  color: #00214A;
}
.rating__item-block {
  display: flex;
  align-items: center;
  min-width: 278px;
}
.rating__item-logo {
  width: 65px;
  height: 54px;
  background: url(assets/images/rating-logo-39258335f2b5911e5cf8.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 40px;
}
.rating__item-user-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
.rating__item-user-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #0047FF;
}
.rating__item-submit {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
}
.rating__item-score {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
}
.rating__item-rate {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
}
.rating__item-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  background: #0047FF;
  border-radius: 50px;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 21px;
  padding-right: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 372px;
  cursor: pointer;
  transition: 0.3s ease;
}
.rating__item-btn:hover {
  transform: scale(1.05);
}
.rating__item-btn-icon {
  width: 26px;
  height: 26px;
  background: url(assets/images/main-arrow-9ae2a7744dc9feda56e1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.contact {
  background: #fff;
  transform: translateY(-1px);
}
.contact__body {
  padding-top: 120px;
  padding-bottom: 163px;
  display: flex;
  justify-content: space-between;
}
.contact__subtitle {
  margin-bottom: 5px;
}
.contact__title {
  margin-bottom: 70px;
}
.contact__head {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.005em;
  color: #9FA0AB;
  margin-bottom: 5px;
}
.contact__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #00214A;
  margin-bottom: 60px;
}
.contact__text:last-child {
  margin-bottom: 0;
}
.contact__map {
  border-radius: 50px;
  overflow: hidden;
}

.footer {
  position: relative;
  background: #00214A;
  clip-path: polygon(0% 0%, 100% 27%, 100% 100%, 0% 100%);
  z-index: 1;
}
.footer * {
  color: #fff;
}
.footer__back {
  position: absolute;
  width: 100%;
  height: 315px;
  background: #0047FF;
  right: 0;
  bottom: 10px;
  clip-path: polygon(0% 27%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 1;
}
.footer__container {
  position: relative;
}
.footer__block {
  display: flex;
  align-items: center;
}
.footer__block:nth-child(1) {
  justify-content: center;
}
.footer__block:nth-child(2) {
  justify-content: space-between;
}
.footer__logo {
  width: 156px;
  height: 54px;
  background: url(assets/images/logo-dark-f22f04b3a7d633f6f28d.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 124px;
}
.footer__navigaion {
  display: flex;
  align-items: center;
  padding-top: 136px;
  padding-bottom: 81px;
}
.footer__navigaion li {
  margin-right: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.005em;
}
.footer__navigaion li:last-child {
  margin-right: 0;
}
.footer__navigaion a {
  position: relative;
}
.footer__navigaion a:hover::before {
  left: 0;
  width: 100%;
  right: auto;
}
.footer__navigaion a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #fff;
  bottom: 1px;
  right: 0;
  transition: 0.5s ease;
}
.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 41px;
}

body.pageDark {
  background: #00214A;
}
body.pageDark .header-page__navigation li a {
  color: #fff;
}
body.pageDark .header-page__logo {
  background: url(assets/images/logo-dark-f22f04b3a7d633f6f28d.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
body.pageDark .pageMap__title {
  color: #fff;
}
body.pageDark .header-page__profile-box {
  background: #0B2F5B;
}
body.pageDark .header-page__profile-box * {
  color: #fff;
}
body.pageDark .header-page__profile-icon {
  background: url(assets/images/user-dark-9821854d1c0eff23f316.svg);
}

.header-page {
  background: none;
}
.header-page__container {
  max-width: 1660px;
  margin: 0 auto;
}
.header-page__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-page__block:nth-child(3) {
  display: flex;
  align-items: center;
}
.header-page__logo {
  width: 156px;
  height: 54px;
  background: url(assets/images/logo-dffd5ab17d7e14698875.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 8px;
  cursor: pointer;
}
.header-page__navigation {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.005em;
  padding-top: 34px;
  padding-bottom: 36px;
  padding-left: 228px;
  padding-right: 228px;
}
.header-page__navigation li {
  margin-right: 50px;
}
.header-page__navigation li:last-child {
  margin-right: 0;
}
.header-page__navigation li a {
  color: #00214A;
  position: relative;
}
.header-page__navigation li a.active {
  color: #0047FF;
}
.header-page__navigation li a:hover::before {
  left: 0;
  width: 100%;
  right: auto;
}
.header-page__navigation li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #fff;
  bottom: 1px;
  right: 0;
  transition: 0.5s ease;
}
.header-page__switch {
  width: 52px;
  height: 30px;
  border-radius: 51px;
  background: #00214A;
  margin-right: 30px;
  position: relative;
  padding: 3px;
  cursor: pointer;
  transition: 0.5s ease;
}
.header-page__switch.dark {
  background: #fff;
}
.header-page__switch.dark .header-page__switch-el {
  background: #00214A;
  margin-left: 22px;
}
.header-page__switch-el {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  transition: 0.3s ease;
}
.header-page__profile-box {
  height: 50px;
  width: 136px;
  border-radius: 30px;
  background: rgba(0, 33, 74, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-page__profile-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #00214A;
}
.header-page__profile-icon {
  height: 24px;
  width: 24px;
  background: url(assets/images/user-4b28c19bd34ddfb3aca4.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.pageMap__body {
  margin-top: 60px;
}
.pageMap__title {
  margin-bottom: 60px;
}
.pageMap__map {
  position: relative;
  width: 1440px;
  height: 800px;
  border-radius: 50px;
  margin-bottom: 60px;
}
.pageMap__btn {
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 40px;
  padding-right: 35px;
  background: #00214A;
  border-radius: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 266px;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 60px auto;
}

.popupForm {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid #B6B6B6;
  z-index: 1000000;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}
.popupForm.active {
  visibility: visible;
  opacity: 1;
  top: 50%;
}
.popupForm p {
  font-size: 22px;
  font-weight: 500;
}
.popupForm input {
  height: 32px;
  margin-bottom: 20px;
}
.popupForm input::placeholder {
  color: #9FA0AB;
}
.popupForm button {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  border-radius: 30px;
  background: #00214A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.popupForm button.active {
  opacity: 1;
  visibility: visible;
}
.popupForm .form-btn {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  border-radius: 30px;
  background: #00214A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.blur {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#one {
  visibility: hidden;
  position: absolute;
}

#two {
  visibility: hidden;
  position: absolute;
}

@media (max-width: 420px) {
  ._container {
    max-width: 344px;
    margin: 0 auto;
  }

  .wrapper {
    min-height: 100%;
    width: 100%;
    background: #0047FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 39px 8px 0px 8px;
    transition: 0.3s ease;
  }

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.005em;
  }

  .sub-title {
    color: #0047FF;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.005em;
    text-transform: uppercase;
  }

  .num {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.005em;
    text-transform: uppercase;
  }

  .header {
    background: url(assets/images/bg-nav-mobile-921783301f86a0d67aae.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 78px;
  }

  .header__navigation {
    display: none;
  }

  .header__profile-box {
    display: none;
  }

  .header__switch {
    display: none;
  }

  .header__logo {
    background: url(assets/images/logo-mobile-580ac111161714d79d9a.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 119.42px;
    height: 40px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 13px;
  }

  .header__container {
    max-width: 344px;
  }

  .header__menu {
    background: url(assets/images/nav-menu-7feeaf8082ca249b1bb4.svg);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-right: 10px;
  }

  .header__block:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .main__body {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 160px;
  }

  .main__title {
    max-width: 549px;
  }

  .main__text {
    margin-left: 13px;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
  }

  .main__title-wrap {
    width: 332px;
    height: 68px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: 0px;
    margin-left: 13px;
  }

  .main__text-wrap {
    width: 330px;
    height: 44px;
    margin-bottom: 50px;
    overflow: hidden;
  }

  .main__el {
    display: none;
  }

  .main__slider {
    max-width: 344px;
    height: 213px;
    border-radius: 30px;
  }

  .main__btn {
    position: absolute;
    bottom: -350px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 25px;
    background: #0047FF;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 211px;
    transition: 0.5s ease;
  }
  .main__btn:hover {
    transform: translateY(-5px) scale(1.05);
  }

  .service__body {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .service__subtitle {
    margin-bottom: 5px;
    text-align: center;
  }

  .service__title {
    margin-bottom: 20px;
    text-align: center;
  }

  .service__text.text-1level {
    max-width: 588px;
    margin-bottom: 40px;
  }

  .service__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: none;
  }
  .service__text.text-1level {
    margin-bottom: 20px;
  }

  .service__mask-bg {
    top: 400px;
    position: absolute;
    width: 344px;
    height: 344px;
    background: url(assets/images/service-mask-2384527a8a4ce3360330.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service__element {
    width: 310.63px;
    height: 311.92px;
    background: url(assets/images/rocket-69169bf4dcd172660649.png);
    background-size: cover;
    transform: rotate(0deg);
  }

  .service__box-wrapper {
    margin-top: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 730px;
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 13px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .text-3level {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
  }

  .service__num {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.005em;
    margin-bottom: 30px;
  }

  .service__box:nth-child(1) {
    margin-bottom: 50px;
  }

  .directory__body {
    padding-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 10px;
  }

  .directory__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .directory__wrapper:nth-child(1) .directory__block {
    width: 345px;
    height: 214px;
    border: 1px solid #EFEFEF;
    border-radius: 35px;
    padding: 30px;
    margin-bottom: 15px;
  }
  .directory__wrapper:nth-child(1) .directory__block:nth-child(1) .directory__text {
    max-width: 576px;
  }
  .directory__wrapper:nth-child(1) .directory__block:nth-child(1) .directory__img {
    bottom: 0;
    right: 21px;
    width: 253px;
    height: 354px;
    background: url(assets/images/item01-54802e80a811b025e9f6.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
  }
  .directory__wrapper:nth-child(1) .directory__block:nth-child(2) .directory__img {
    top: -50px;
    right: -103px;
    width: 338.07px;
    height: 344.29px;
    background: url(assets/images/item02-4e6cdfa52bc3309800c8.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
  }
  .directory__wrapper:nth-child(2) .directory__block {
    width: 345px;
    height: 373px;
    border: 1px solid #EFEFEF;
    border-radius: 35px;
    padding: 30px;
    text-decoration-line: none;
  }
  .directory__wrapper:nth-child(2) .directory__block .directory__text {
    text-decoration-line: none;
    margin-bottom: 40px;
  }
  .directory__wrapper:nth-child(2) .directory__block .directory__img {
    bottom: 0px;
    right: -53px;
    width: 174.62px;
    height: 172.8px;
    background: url(assets/images/item03-cd4c3b2ee13a1aad4d8c.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .directory__block {
    position: relative;
    overflow: hidden;
  }

  .directory__subtitle {
    margin-bottom: 5px;
    text-align: center;
  }

  .directory__title {
    text-align: center;
    margin-bottom: 30px;
  }

  .directory__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #00214A;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .directory__text {
    max-width: 600px;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #9FA0AB;
  }

  .directory__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.005em;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .directory__item:last-child {
    margin-bottom: 0;
  }
  .directory__item:first-child .directory__item-icon {
    background: url(assets/images/directory-item01-cefdf01917a6c3db8bbd.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .directory__item:nth-child(2) .directory__item-icon {
    background: url(assets/images/directory-item02-5f67f884a6efe6994a20.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .directory__item:nth-child(3) .directory__item-icon {
    background: url(assets/images/directory-item03-6a112443bf0cd400eb84.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .directory__item-icon {
    width: 38px;
    height: 40px;
    margin-right: 15px;
  }

  .directory__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.005em;
  }

  .directory__img {
    position: absolute;
  }

  .directory__footer {
    position: relative;
    min-width: 100%;
    height: 93px;
    background: url(assets/images/directory-footer-mobile-735d9d387347b195b3c1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0047FF;
    display: flex;
  }

  .directory__footer-el {
    display: none;
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(assets/images/directory-footer-el-0c88820f111bf24e1ba3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 32px;
    right: 41px;
  }
  .directory__footer-el:nth-child(1) {
    margin-right: 90px;
  }

  .map__body {
    padding-top: 60px;
    padding-bottom: 0px;
  }

  .map__block {
    padding-bottom: 40px;
  }

  .map__subtitle {
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
  }

  .map__title {
    text-align: center;
  }

  .map__image {
    width: 100%;
    height: 412px;
    background: url(assets/images/map-mobile-50a5a4884ad51c95310f.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .rating__body {
    padding-top: 80px;
  }

  .rating__block {
    padding-bottom: 40px;
  }

  .rating__subtitle {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
  }

  .rating__title {
    text-align: center;
  }

  .rating__box {
    width: 100%;
    height: 412px;
    border-radius: 20px;
    background: #fff;
  }

  .rating__footer {
    position: relative;
    min-width: 100%;
    height: 105px;
    background: url(assets/images/rating-footer-mobile-3a6725b4e56b4267526d.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0047FF;
  }

  .rating__footer-el {
    display: none;
    position: absolute;
    left: 40px;
    top: 32px;
    width: 70px;
    height: 70px;
    background: url(assets/images/directory-footer-el-0c88820f111bf24e1ba3.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .rating__footer-el:nth-child(2) {
    margin-left: 90px;
  }

  .contact__body {
    padding-top: 0px;
    padding-bottom: 163px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .contact__subtitle {
    margin-bottom: 5px;
    text-align: center;
  }

  .contact__title {
    margin-bottom: 50px;
    text-align: center;
  }

  .contact__head {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.005em;
    color: #9FA0AB;
    margin-bottom: 5px;
    margin-left: 13px;
  }

  .contact__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #00214A;
    margin-bottom: 40px;
    margin-left: 13px;
  }
  .contact__text:last-child {
    margin-bottom: 40px;
  }

  .contact__map {
    border-radius: 0px;
    overflow: hidden;
  }
}
/*!*****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/swiper/swiper.min.css ***!
  \*****************************************************************************************************************************/
/**
 * Swiper 8.1.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 24, 2022
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color:#007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}
